#body{
width:1000px;


}
#main{
background-color:#1f415e;




}
#Identity{
margin:0px;
padding:0px;
/* width:100px; */
}
a{
    color:gold;
    text-decoration: underline;
}

img {
width:330px;
height:90px;
margin: 10px 10px;
}

#Pymg{
margin:1px 90px;
padding:0px;
border:13px solid grey;
background-color: grey;
border-radius:10px;
box-shadow:3.5px 3.5px black;
vertical-align: top;

}

#TK{
display:inline-block;
vertical-align:top;
margin:0px 0px 0px 620px;
width:400px;

}




#Text{
margin:0px;
color: white;
padding-left: 200px;
vertical-align: top;
font-size:14.5px;
}


#SearchBox{
margin:1px 150px;
padding:50px 100px 50px 100px;
vertical-align:top;
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#3776ab;
    box-shadow: 4px 4px black;
    border:1px 1px #3776ab;
    border-radius:10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-style: default;
    margin: 1px 20px;
    font-size: 18px;
   
}
li a:hover:not(.active) {
    background-color:blue;
}

.active {
    background-color:blue;
}

ul.F{
list-style-type: circle;
list-style-position: inside;
background-color:#1f415e;


}


#Info{
background-color:#1f415e;
border:10px solid #1f415e;
display: inline-block;
font-size:16px;
background-color:#1f415e;
box-shadow:#1f415e;
width:150px;
height:100px;
margin: -40px 10px 20px 100px;
vertical-align: center;
padding: 10px 10px 100px 40px;
text-align:center;
}

div#Info a{
color:white;

}
div#Info p{
color:gold;

}


#Zen{
display:inline-block;
vertical-align: top;
margin:10px 10px;
padding:10px 200px 10px 100px;
text-align:center;
width:500px;
height:350px;
color:white;
}


#ZenF{
color:gold;
font-style: italic;
 
}
#Box{
padding:20px;
margin:10px 40px 10px -30px;
background-color: white;
vertical-align: top;
display: inline-block;
width:10000px;
height:350px;
}

#Start{
padding:1px 1px 1px 100px;
background-color:white;
margin:1px;
vertical-align: top;
display: inline-block;
width:500px;
height:200px;
text-align: center;
}

#Index{
padding:1px 20px 10px 100px;
display:inline-block;
background-color: white;
margin:1px 1px 10px 80px;
vertical-align: top;
width:500px;
text-align: center;
}


div#Box a{
color:blue;
}



#Foot{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color:#1f415e ;
color: skyblue;
text-align: center;
margin-right: 10px;
}